---
export interface Props {
  href: string;
  isSelected?: boolean;
}

const { href, isSelected } = Astro.props;

const selected = isSelected ? "text-primary md:border-b-2 border-primary" : "";
---

<li class="border-b-2 last:border-0 md:border-0">
  <a
    tabindex="0"
    class={`pb-1 md:p-0 max-w-36 flex flex-row md:justify-center text-lg font-semibold
    hover:text-primary focus:text-primary ${selected}`}
    href={href}
  >
    <slot />
  </a>
</li>